.weather {
  color: white;
  .icon {
    width: 50px;
  }
  li {
    text-align: left;
  }
  .current {
    .col-md-6 {
      display: inline-block;
      .weather-desc {
        vertical-align: middle;
        margin-right: 20px;
      }
      img {
        width: 70px;
        margin-right: 5px;
        vertical-align: middle;
      }
      .temp {
        font-size: 40px;
        vertical-align: middle;
      }
    }
  }
}
