.currency {
  margin-top: 30px;
  width: 100%;
  color: white;
  background-color: rgba($white, 0.3);
  padding-top: 15px;
  padding-bottom: 15px;
  img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

  .detail {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .percent-change {
    text-align: left;
    margin-left: 35px;
  }
  .change-24h {
    font-size: 24px;
    margin-right: 10px;
  }
  .up {
    color: #26a96a;
  }
  .down {
    color: #EF5350;
  }
}